
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu-principal li {
    display: flex;
}

.consejo-kiyosaki{
    margin-top: 20px;
}

.consejo-kiyosaki .frase{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.consejo .contenedor-imagen{
    background-color: #cdf3ed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.consejo img{
    width: 35px;
    filter: brightness(0) saturate(100%) invert(51%) sepia(89%) saturate(1902%) hue-rotate(133deg) brightness(99%) contrast(95%);
}

.menu-principal li label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.contenedor-1200 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-principal li input {
    opacity: 0;
}

.menu-principal li label {
    cursor: pointer;
}

header {
    background-color: #ffff;
    color: #002C76;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 20px;
    user-select: none;
    z-index: 10;
}

header .contenedor-1200{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    font-size: 24px;
    color: #002C76;
    text-decoration: none;
    z-index: 10;
    font-weight: 600;
}

.icono-menu{
    width: 22px;
    display: none;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(11%) sepia(37%) saturate(6588%) hue-rotate(213deg) brightness(94%) contrast(101%);
}

.input-menu{
    opacity: 0;
    position: absolute;
}

.cerrar-menu{
    font-size: 22px;
}

.menu-principal li a {
    transition: all .25s linear;
}

.menu-principal li a:hover {
    font-weight: 600;
}

/* Estilos ahorro */

main {
    background-image: linear-gradient(269deg, #0074D3 0%, #0174D2 31%, #0040A8 100%);
    padding-top: 20px;
    /* background-image: url(https://crezcamos.com/wp-content/uploads/2022/07/fondo-patron.png); */
    /* background-color: #9995df; */
}

.contenedor:first-child {
    display: flex;
}

.contenedor:not(:first-child) {
    display: none;
}

.contenedor {
    
    min-height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* overflow: hidden; */

    .seccion {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .simulador {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .tit-principal {
            font-size: 28px;
        }

        .cont-formulario {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 80%;

            .cont-input {
                width: 50%;
                margin: 20px 0;
                display: flex;
                padding: 0 50px;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                align-content: flex-start;

                .label-input {
                    position: relative;
                    font-size: 18px;
                    margin-bottom: 12px;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    text-align: initial;
                    .icono-tooltip {
                        width: 22px;
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(268deg) brightness(106%) contrast(102%);
                    }

                    .tooltip {
                        position: relative;
                        cursor: pointer;
                    }

                    .tooltip:before {
                        content: attr(mensaje);
                        position: absolute;
                        right: 30px;
                        bottom: 10px;
                        padding: 8px;
                        border-radius: 6px;
                        background-color: #F3F6F9;
                        color: #002C76;
                        /* display: none; */
                        opacity: 0;
                        display: none;
                        transition: all 0.25s linear;
                    }

                    .tooltip:hover::before{
                        display: block;
                        width: 200px;
                        height: fit-content;
                        z-index: 10;
                        top: 0;
                        opacity: 1;
                        animation: animarTooltip 0.5s forwards;
                        transition: all 0.25s linear;
                    }
                }

                .input {
                    height: 28px;
                    border-radius: 6px;
                    outline: none;
                    border: none;
                    width: 100%;
                    padding-left: 28px;
                }

                .img-input {
                    margin-top: -22px;
                    margin-left: 4px;
                }
            }

        }

        .btn-calcular {
            width: 120px;
            height: 36px;
            border-radius: 6px;
            border: none;
            color: white;
            background-color: #FDC130;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.15s linear
        }

        .btn-calcular:hover {
            background-color: #cb8e00;
        }
    }

    .resultado {
        /* background-color: aliceblue; */
        width: 100%;
        height: 100%;
        margin-top: 20px;

        .contenedor-consejos {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 80%;
            margin: 0 auto;
            .consejo {
                width: 50%;
                display: flex;
                flex-direction: row;
                align-content: center;
                align-items: center;
                gap: 10px;
                margin: 10px 0;
            }

            .consejo-kiyosaki{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                gap: 10px;

                .frase{
                    font-weight: 600;
                    font-size: 18px;
                    max-width: 70%;
                }
            }
        }
    }
}


@media (max-width: 1023px) {
    .menu-principal {
        display: none;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #F3F6F9;
        text-align: center;
        color: #002C76;
    }

    .label-input{
        font-size: 16px !important;
        margin-bottom: 8px !important;
    }

    .menu-principal ul {
        display: block;
        margin: 0;
        padding: 0;
    }

    .menu-principal li {
        display: block;
        margin: 0;
        padding: 16px 0;
        border-bottom: 1px solid #002C76;
    }

    .menu-principal li input{
        opacity: 0;
        position: absolute;
    }

    .menu-principal li a{
        color: white;
        text-decoration: none;
    }

    .menu-principal label {
        cursor: pointer;
        margin-left: 40px;
    }

    .icono-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
    }

    .input-menu:checked ~ .menu-principal{
        display: block;
        z-index: 5;
    }
    
    .icono-menu .cerrar-menu{
        display: none;
    }
    
    .icono-menu .cerrar-menu{
        color: white;
        background-color: transparent;
        border: none;
        display: none;
    }
    
    .input-menu:checked ~ .icono-menu .cerrar-menu{
        display: block;
    }
    
    .input-menu:checked ~ .icono-menu img{
        display: none;
    }

    .contenedor {
    
        .simulador {
        
            .cont-formulario {
                width: 90%;
    
                .cont-input {
                    width: 100%;
                    margin: 20px 0;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: flex-start;
                    align-content: flex-start;
    
                    .input {
                        width: 100%;
                    }
                }
            }
        }
    
        .resultado {
            /* background-color: aliceblue; */
            width: 100%;
            height: 100%;
    
            .contenedor-consejos {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 80%;
                margin: 0 auto;
                gap: 20px;
                .consejo {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    align-items: center;
                    gap: 10px;
                }
                .consejo-kiyosaki{
                    width: 100%;
                    .frase {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .menu-principal {
        display: flex;
    }

    .menu-principal ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu-principal li {
        margin: 0 10px;
    }

    .menu-principal li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

}

@keyframes animarTooltip {
    0% {
        transform: translateY(45px) scale(.1);
    }

    50% {
        transform: translateY(20px) scale(1.05);
    }

    100% {
        transform: translateY(25px) scale(1);
    }
}