* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor {
    width: 100vw;
    /* height: 100vh; */
    background: red;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* overflow: hidden; */

    background: rgb(196, 117, 235);
    background: -moz-radial-gradient(circle, rgb(158, 48, 255) 0%, rgba(121, 9, 113, 1) 100%, rgba(255, 75, 254, 1) 100%);
    background: -webkit-radial-gradient(circle, rgb(158, 48, 255) 0%, rgba(121, 9, 113, 1) 100%, rgba(255, 75, 254, 1) 100%);
    background: radial-gradient(circle, rgb(158, 48, 255) 0%, rgba(121, 9, 113, 1) 100%, rgba(255, 75, 254, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c45cf7", endColorstr="#ff4bfe", GradientType=1);

    .seccion {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;


    }

    .simulador {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .tit-principal {
            font-size: 28px;
        }

        .cont-formulario {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 80%;

            .cont-input {
                width: 50%;
                margin: 20px 0;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                align-content: flex-start;

                .label-input {
                    position: relative;
                    font-size: 18px;
                    margin-bottom: 12px;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    .icono-tooltip {
                        width: 22px;
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(268deg) brightness(106%) contrast(102%);
                    }

                    .tooltip {
                        position: relative;
                        cursor: pointer;
                    }

                    .tooltip:before {
                        content: attr(mensaje);
                        position: absolute;
                        right: 30px;
                        bottom: 10px;
                        padding: 8px;
                        border-radius: 6px;
                        background-color: crimson;
                        /* display: none; */
                        opacity: 0;
                        display: none;
                        transition: all 0.25s linear;
                    }

                    .tooltip:hover::before{
                        display: block;
                        width: 200px;
                        height: fit-content;
                        z-index: 10;
                        top: 0;
                        opacity: 1;
                        animation: animarTooltip 0.5s forwards;
                        transition: all 0.25s linear;
                    }
                }

                .input {
                    height: 28px;
                    border-radius: 6px;
                    outline: none;
                    border: none;
                    width: 350px;
                    padding-left: 28px;
                }

                .img-input {
                    margin-top: -22px;
                    margin-left: 4px;
                }
            }

        }

        .btn-calcular {
            width: 120px;
            height: 36px;
            border-radius: 6px;
            border: none;
            color: white;
            background-color: #ffa500;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.15s linear
        }

        .btn-calcular:hover {
            background-color: #ff8800;
        }
    }

    .resultado {
        /* background-color: aliceblue; */
        width: 100%;
        height: 100%;

        .contenedor-consejos {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 80%;
            margin: 0 auto;
            .consejo {
                width: 50%;
                display: flex;
                flex-direction: row;
                align-content: center;
                align-items: center;
                gap: 10px;
            }

            .consejo-kiyosaki{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                gap: 10px;

                .frase{
                    font-weight: 600;
                    font-size: 18px;
                    max-width: 70%;
                }
            }
        }
    }
}


@media (width <= 1024px) {
    
    .contenedor {
        
        .seccion {
        
        }
    
        .simulador {
        
            .cont-formulario {
                width: 90%;
    
                .cont-input {
                    width: 100%;
                    margin: 20px 0;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: flex-start;
                    align-content: flex-start;
    
                    .input {
                        width: 100%;
                    }
                }
            }
        }
    
        .resultado {
            /* background-color: aliceblue; */
            width: 100%;
            height: 100%;
    
            .contenedor-consejos {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                width: 80%;
                margin: 0 auto;
                .consejo {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    align-items: center;
                    gap: 10px;
                }
    
                .consejo-kiyosaki{
                    
                    .frase{
                        
                    }
                }
            }
        }
    }
    

    
}

@keyframes animarTooltip {
    0% {
        transform: translateY(45px) scale(.1);
    }

    50% {
        transform: translateY(20px) scale(1.05);
    }

    100% {
        transform: translateY(25px) scale(1);
    }
}